body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.button {
    align-items: center;
    width: auto;
    background-color: aqua;
}